{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Create New List Entry</h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="title" name="title" class="input-xlarge"
            placeholder="Give it a title or something ... " value="{{ request.form.title }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <textarea name="text" rows=10 class="input-xlarge" placeholder="What are you up to?" required>{{ request.form.text }}</textarea>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Create List Entry</button>
          <a href="{{ url_for('index') }}">Back to List</a>
        </div>
    </div>
  </form>
{% endblock %}